#display{
	position: absolute;
	width: 760px;
	margin-left: 380px;
	margin-top: 160px;
	border: 1px solid #ced6dd;
}

#success{
	color: red;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 20px;
}

#addr,#title,#content,#pay,#validtime{
	margin-left: 30px;
	margin-top: 10px;
	color: #74a8d8;
}

#validtime{
	margin-bottom: 20px;	
}

#content{
	margin-right: 30px;
	line-height: 2;
}

#return{
	margin-left: 600px;
	margin-top: 128px;
}